django-cms
django-reversion==1.8.5
django-bootstrap3==5.1.1
django-filter
django-compressor

djangocms-style
djangocms-admin-style
djangocms-text-ckeditor>=2.3.0

raven
django-admin-enhancer

django-admin-tools
django-classy-tags
django_tinymce
html5lib
odfpy

--extra-index-url=http://pypi.auf.org/

auf.django.references==0.27
auf.django.saml==1.19
auf.django.piwik