html, body, div, span, applet, object, iframe,
 h1,h2,h3,h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: Tahoma, Geneva, sans-serif;
	/*font-family:"Helvetica LT Std",verdana,serif;*/
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
	font-size: 0.85em;
	color: #656565;
	background: url("../img/fond.jpg");
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a{
	text-decoration: none;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#texte p{
line-height:1.5;
margin-bottom:20px;
font-size: 0.97em;
}
/*HEADER*/
header{
	width: 960px;
	margin: 0 auto;
	height: 155px;
	padding-top: 35px;
}

header  #logo1{
	float: left;
}

header #titre_princ{
	float: left;
	padding: 26px 0px 0px 26px;
	width: 688px;
}

header #titre_princ h1{
	font-weight: bold;
	font-size: 2.1em;
	line-height: 30px;
}

header #logo2{
	padding: 12px 0px 0px 0px;
	float: left;
}

/*CORPS*/
#corps{
	width: 942px;
	margin: 0 auto;
	padding: 14px 10px 40px 10px;
	background-color: #fafafa;
	border: 1px solid #d9d9d9; 
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(160, 160, 160, 0.1);
	box-shadow: 0px 0px 6px 0px rgba(160, 160, 160, 0.1);
}	

/*MENU*/
#menu{
	width: 940px;
	margin: 0 auto 34px auto;
	height:43px;
	line-height: 43px;
	border:1px solid #e0e0e0;
	background: url(../img/fondmenu.jpg) repeat-x;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align:center;
	overflow: hidden;
	/*-webkit-box-shadow: 1px 1px 0px 0px rgba(200, 200, 200, 0.4);
	box-shadow: 1px 1px 0px 0px rgba(200, 200, 200, 0.4);  */
}

#menu ul li a{
	text-decoration:none;
	font-size: 0.87em;
	color:#555555;
	margin: auto;
	display: block;
	height: 43px;
	padding: 0px 20px;
	/*float: left;*/
	font-weight: bold;
	background: url(../img/separ.png) top right no-repeat;
	overflow: hidden;
	text-align: center;

}

#menu ul li:last-child a{
	background: none;
}

#menu ul li:last-child a:hover{
	background-color:rgb(255,255,255);
}

#menu li{
	float: left;
	list-style: none;
}

ul li a{
    display:inline-block;
    box-sizing:border-box;
    padding:.4em .2em;
    color:#51C3FA;
    text-decoration:none;
    text-shadow:0 1px 0 white;
    background-color:transparent;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

#menu a:hover,#menu a:focus{
	color: #7d0024;
	background-color:rgb(255,255,255);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

/*Slider*/
#slide{
border:1px solid  #e0e0e0;
padding:7px 7px 7px 7px;
margin-bottom:40px;
background: url(../img/menu.png);
}
#slider{
border-left:auto;
border-right:auto;
}

#discipline{
	border: 1px solid #d9d9d9;
	border-bottom: none;
	background: url(../img/menu.png);
}

#discipline li{
	border-bottom: 1px solid #d9d9d9;
}

#discipline li a{
	padding: 12px 12px 12px 19px;
}


#bleu{background: url(../img/bleu.png) left no-repeat;}
#vert{background: url(../img/vert.png) left no-repeat;}
#mauve{background: url(../img/violet.png) left no-repeat;}
#jaune{background: url(../img/jaune.png) left no-repeat;}
#rouge{background: url(../img/rouge.png) left no-repeat;}

/*SECTION modifie*/
section{
	width: 700px;
	margin-right:0;
	margin-top:0;
	margin-left:240px;
}

/*LEFT modifie*/
#left{
	width: 220px;
	margin-top:0;
	margin-right:0;
	float:left;

}

#left img{
	vertical-align:middle;
}

#left a{
	font-size: 0.90em;
	color:#777777;
	line-height: 16px;
}

#left a:hover{
	color: #7d0024;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

#discipline p{
	padding:10px 11px 10px 11px;
}

#information .outils{
	float: right;
}

#information .outils img{
	border-right: 1px dotted #ccc;
	padding: 0px 6px;
}

#information .outils img:last-child{
	border-right: none;
	padding: 0px 0px 0px 6px;
}

#page2 span{
	font-weight:bold;
}

#dynecar img{
	float:left;
	margin-right:2px;
}

#rss{
	border:1px solid #e0e0e0;
	padding:10px 0px 10px 7px;
	background-color:white;
}

#chercheur_eq{
	border:1px solid #e0e0e0;
	padding: 10px;
	background: url(../img/menu.png);
	width: 198px;
	height: 32px;
}

#chercheur_ch{
	border:1px solid #e0e0e0;
	padding: 10px;
	background: url(../img/menu.png);
	width: 198px;
	height: 32px;
	margin-bottom: 10px;
}

#chercheur_eq span, #chercheur_ch span{
	padding-left:10px;
}


#rss span{
	padding-left:7px;
}

#page2 h3{
	font-size: 1.22em;
	font-weight:bold;
	border-bottom:1px solid #555555;
	margin-bottom:20px;
	margin-top:20px;
	line-height: 2;
}

#page2 p{
	font-size: 12px;
	line-height: 2;
}

#page2 a{
	color: #7d0024;
}

h2{
	font-size: 1.5em;
	font-weight:bold;
	margin-bottom:40px;
	line-height: 24px;
}

h3{
	font-size: 1.3em;
	font-weight:bold;
	margin-bottom:20px;
	margin-top:32px;
}

/*search*/
#search {
	width:219px; /*follow your image's size*/
	height:36px;/*follow your image's size*/
	background-image: url("../img/searchbox.png");
	position:relative; /*important*/
	overflow: hidden;
}
 
#search form { display:inline ; }
 
.searchbox {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:0;
	left:14px;
	width:170px;
	height:36px;
	padding: 0px;
	color: #787878;
	font-size: .8em;
}
 
.searchbox_submit {
	border: none; /*important*/
	outline: none;
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:0px;
	left:180px;
	width:40px;
	height:36px;
	cursor: pointer; 
}

#page2{
border:1px solid #e0e0e0;
padding:15px 15px 15px 15px;
background-color:white;
}

/*FOOTER modifie*/
footer{
	background: url(../img/fondfooter.png) repeat-x;
	font-size: 0.82em;
	color: white;
	height: 59px;
	line-height: 59px;
	width: 942px;
	margin: 0 auto 50px auto;
	padding: 0px 10px;
	border-left: 1px solid #d9d9d9; 
	border-right: 1px solid #d9d9d9; 
	border-bottom: 1px solid #d9d9d9; 
	text-shadow: 1px 1px 1px #222222;
	filter: dropshadow(color=#222222, offx=1, offy=1);
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('font/helveticaltstd-roman-webfont.eot');
    src: url('font/helveticaltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/helveticaltstd-roman-webfont.woff') format('woff'),
         url('font/helveticaltstd-roman-webfont.ttf') format('truetype'),
         url('font/helveticaltstd-roman-webfont.svg#helvetica_lt_stdregular') format('svg');
	    font-weight: normal;
	    font-style: normal;


}
