{% load sekizai_tags i18n%}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
<html>
<head>
   <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Annuaire</title>
  <link href="{{ STATIC_URL }}css/nivo-slider.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ STATIC_URL }}css/style.css?v=1" rel="stylesheet" type="text/css" media="screen" />
  <link href="{{ STATIC_URL }}css/style_print.css?v=1" rel="stylesheet" type="text/css" media="print" />
  {% render_block "css" %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/swfobject.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/site.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.formset.js"></script>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.js"></script>-->
  <script  type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">
				$(window).load(function() {
					$('#slider').nivoSlider({
						controlNav: false,
						pauseTime: 4500
					});
				});
   </script>
  {% render_block "js" %}
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="scripts/innershiv.min.js"></script>
  <![endif]-->
  <!--[if IE 6]><script type="text/javascript" src="scripts/DD_belatedPNG_0.0.8a-min.js"></script><![endif]-->
  <!--[if lt IE 8]><script src="scripts/font.js"></script><![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<body>

		<div id="sub">
				{% if user.is_authenticated %}<p style="text-align:left; width: 510px; float: left"><a href="/chercheur/perso/" style="text-align:left">{% trans "Vous êtes connecté sous" %} {{ user.email }}</a><a href="/chercheur/perso/" style="text-align:left">{% trans "Espace personnel" %}</a></p>{% endif %}
            	<p style="text-align:right; width: 400px; float: right"><a href="/a-propos/">{% trans "À propos" %}</a><a href="/aide/">{% trans "Aide" %}</a><a href="/contact/">{% trans "Contact" %}</a>{% if user.is_authenticated %}
                        <a href="/deconnexion/" class="connex">{% trans "Déconnexion" %}</a></p>
                        {% else %}
                        <a href="/connexion/" class="connex">{% trans "Connexion" %}</a></p>
                        {% endif %}
        </div>

		<header>

			<div id="logo1">
				<img src="{{ STATIC_URL }}img/Logo_Auf.png" alt="Logo de l`AUF"/>
			</div>

			<div id="titre_princ">
            		<h1>{% trans "Annuaire électronique de la recherche<br/> dans les universités de la Caraibe" %}</h1>
            </div>

            		<div id="logo2">
				<img src="{{ STATIC_URL }}img/logo2.png" alt="Logo de la corpuca" id="log"/>
			</div>
		</header>


		<div id="corps">


		<nav id="menu">
			<ul>
                    <li><a href="/">{% trans "Accueil" %}</a></li>
                    <li><a href="/equipes/">{% trans "Equipes de Recherche" %}</a></li>
                    <li><a href="/chercheurs/">{% trans "Chercheurs indépendants" %}</a></li>
                    <li><a href="/appels-offre/">{% trans "Appels à projets" %}</a></li>
                    <li><a href="/liens-utiles/">{% trans "Liens utiles" %}</a></li>
                    <li><a href="/contact/">{% trans "Contact" %}</a></li>
                    <li><a href="/album/">{% trans "Photos événements" %}</a></li>
                    <li style="padding-left: 10px;"> {% ifequal LANGUAGE_CODE 'fr' %}
                    				<form action="/i18n/setlang/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="language" value="es" />
                                        <input type="image" src="{{ STATIC_URL }}img/es.png" width="18" height="12" />
                                    </form>
                             {% else %}
                                    <form action="/i18n/setlang/" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="language" value="fr" />
                                        <input type="image" src="{{ STATIC_URL }}img/fr.png" width="18" height="12" />
                                    </form>
							 {% endifequal %}
              		</li>
			</ul>
		</nav>

			<div id="left">

                    <div id="search">
                        <form action="/recherche/" method="get">
                        <input type="text" class="searchbox" name="q" value="Rechercher..." onFocus="value=''" />
                        <input type="submit" class="searchbox_submit" value="" />
                        </form>
    				</div>

					<h3>{% trans "Trouver par discipline:" %}</h3>

                            <ul id="discipline">

								<li class="bleu"><a href="/chercheurs/?nom=&etablissement=&axe=1">{% trans "Ressources Vivantes naturelles et exploitées dans le cadre du développement durable" %}</a></li>
								<li class="vert"><a href="/chercheurs/?nom=&etablissement=&axe=2">{% trans "Santé humaine et épidémiologie en millieu tropical insulaire" %}</a></li>
							    <li class="mauve"><a href="/chercheurs/?nom=&etablissement=&axe=3">{% trans "Territoires,sciences humaines,cultures et sociétés dans la région caribéenne" %}</a></li>
								<li class="rouge"><a href="/chercheurs/?nom=&etablissement=&axe=4">{% trans "Economie et développement endogène dans la caraibe" %}</a></li>
								<li class="jaune"><a href="/chercheurs/?nom=&etablissement=&axe=5">{% trans "Connaissance,exploitation et gestion du millieu physique" %}</a></li>

							</ul>

					<div id="recherche2">
					<h3>{% trans "Inscrivez-vous:" %}</h3>

							<div id="chercheur_ch">
								<a href="/inscription-equipe/"><img src="{{ STATIC_URL }}img/chercheur_eq.png" alt="" title=/> <span>{% trans "Une Equipe de recherche" %}</span></a>
							</div>

							<div id="chercheur_eq">
								<a href="/inscription-chercheur/"><img src="{{ STATIC_URL }}img/chercheur_ind.png" alt=""/> <span>{% trans "Un chercheur indépendant" %}</span></a>
							</div>

					</div>


					<div id="suivre">
					<h3>{% trans "Suivez-nous" %}</h3>

							<div id="chercheur_ch">
								<a href="/flux-rss/"><img src="{{ STATIC_URL }}img/rss.png" alt=""/> <span>{% trans "Abonnez vous au flux RSS" %}</span> </a>
							</div>

					</div>

			</div>

					<section>
					{% block Contenu %}{% endblock Contenu %}
					</section>



		</div>

		<footer>
			<div id="footer">
			<p>Copyright 2014 AUF - <a href="/a-propos/">{% trans "À propos" %}</a> - <a href="/aide/">{% trans "Aide" %}</a> - <a href="/contact/">{% trans "Contact" %}</a></p>
			</div>
		</footer>

	</body>
</html>
