{% extends "base.html" %}
{% load i18n %}

{% block Contenu %}

<div id="texte">
<h3>Inscription</h3>

        	<div class="chercheur">

                <form action="" method="POST">
                   <!-- /annuaire/inscription-chercheur/ -->
                    {% csrf_token %}
                    {% if forms.chercheur.errors %}<ul class="errorlist"><li>{% trans "Des erreurs ne permettent pas de s'inscrire." %}</li></ul>{% endif %}

                    <h3 style="margin-bottom: 28px;">{% trans "Propriété de la Fiche" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.langue.errors }}
                            <label for="id_subject">{% trans "Langue" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.langue }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Etablissement" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.etablissement.errors }}
                            <label for="id_message">{% trans "Université" %} :</label>
                            {{ forms.chercheur.etablissement }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.etablissement_autre_nom.errors }}
                            <label for="id_sender">{% trans "Faculté/institut/école" %} :</label>
                            {{ forms.chercheur.etablissement_autre_nom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.etablissement_autre_pays.errors }}
                            <label for="id_cc_myself">{% trans "Pays" %} :</label>
                            {{ forms.chercheur.etablissement_autre_pays }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Informations sur le chercheur" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.genre.errors }}
                            <label for="id_message">{% trans "Genre" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.genre }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.nom.errors }}
                            <label for="id_sender">{% trans "Nom" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.nom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.prenom.errors }}
                            <label for="id_cc_myself">{% trans "Prénom" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.prenom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.courriel.errors }}
                            <label for="id_sender">{% trans "Courriel" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.courriel }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.afficher_courriel.errors }}
                            <label for="id_cc_myself">{% trans "Afficher courriel" %} :</label>
                            {{ forms.chercheur.afficher_courriel }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.site.errors }}
                            <label for="id_sender">{% trans "Site internet" %} :</label>
                            {{ forms.chercheur.site }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.telephone.errors }}
                            <label for="id_cc_myself">{% trans "Numéro de téléphone" %} :</label>
                            {{ forms.chercheur.telephone }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.telecopie.errors }}
                            <label for="id_sender">{% trans "Numéro de télécopie" %} :</label>
                            {{ forms.chercheur.telecopie }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.diplome.errors }}
                            <label for="id_cc_myself">{% trans "Diplôme le plus élevé" %} :</label>
                            {{ forms.chercheur.diplome }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Enseignements et Recherche" %}</h3>
			<div class="fieldWrapper">
                            {{ forms.chercheur.discipline.errors }}
                            <label for="id_message">{% trans "Enseignements dispensés" %} :</label>
                            {{ forms.chercheur.discipline }}
                        </div>
                    	<div class="fieldWrapper">
                            {{ forms.chercheur.axe.errors }}
                            <label for="id_message">{% trans "Axe de recherche" %} <span class="requis">*</span>:</label>
                            {{ forms.chercheur.axe }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.theme_recherche.errors }}
                            <label for="id_sender">{% trans "Problématique et description de la recherche" %} :</label>
                            {{ forms.chercheur.theme_recherche }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.mots_cles.errors }}
                            <label for="id_cc_myself">{% trans "Mots-clés" %} :</label>
                            {{ forms.chercheur.mots_cles }}
                        </div>

                      <h3 style="margin: 10px 0px 28px 0px">{% trans "Equipement" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.equipement.errors }}
                            <label for="id_message">{% trans "Equipement disponible" %} :</label>
                            {{ forms.chercheur.equipement }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.laboratoire.errors }}
                            <label for="id_sender">{% trans "Laboratoire" %} :</label>
                            {{ forms.chercheur.laboratoire }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.terrain.errors }}
                            <label for="id_cc_myself">{% trans "Terrain" %} :</label>
                            {{ forms.chercheur.terrain }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Valorisation et autres" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.valorisation.errors }}
                            <label for="id_message">{% trans "Valorisation et domaine de compétence" %} :</label>
                            {{ forms.chercheur.valorisation }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.partenaires.errors }}
                            <label for="id_sender">{% trans "Partenaires" %} :</label>
                            {{ forms.chercheur.partenaires }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.doctorants.errors }}
                            <label for="id_cc_myself">{% trans "Doctorants" %} :</label>
                            {{ forms.chercheur.doctorants }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.stagiaire.errors }}
                            <label for="id_cc_myself">{% trans "Stagiaire" %} :</label>
                            {{ forms.chercheur.stagiaire }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Publications" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.publicationsInternational.errors }}
                            <label for="id_message">{% trans "Nombre de publications de niveau international" %} :</label>
                            {{ forms.chercheur.publicationsInternational }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.publicationsAutre.errors }}
                            <label for="id_sender">{% trans "Autres publications" %} :</label>
                            {{ forms.chercheur.publicationsAutre }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.publicationsColloc.errors }}
                            <label for="id_cc_myself">{% trans "Nombre de publication ayant fait l'objet de publication dans actes de colloque" %} :</label>
                            {{ forms.chercheur.publicationsColloc }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.communication.errors }}
                            <label for="id_cc_myself">{% trans "Autres communications" %} :</label>
                            {{ forms.chercheur.communication }}
                        </div>

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Equipe de recherche" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.equipe.errors }}
                            <label for="id_message">{% trans "Etes-vous intéressé à créer ou intégrer une équipe de recherche?" %}</label>
                            {{ forms.chercheur.equipe }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.chercheur.domaine.errors }}
                            <label for="id_sender">{% trans "Si oui dans quel domaine?" %}</label>
                            {{ forms.chercheur.domaine }}
                        </div>

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Thèse" %} <em style="font-size:12px">(ou tout autre travail de recherche &#8212; mémoire, HDR, etc. &#8212; encadré par un universitaire)</em></h3>
                            {% with forms.these as form %}
                            {% include "render_form.html" %}
                            {% endwith %}

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Publications (donner 10 références maximum, les plus représentatives de l'activité scientifique)" %}</h3>
                     <fieldset id="publications">

                               {{ forms.publications.management_form }}
                                    {% for form in forms.publications %}
                                    <fieldset style="border: 1px solid #aaaaaa; padding: 14px 0px 0px 10px; margin-bottom: 10px">
                                        {{ form }}
                                    </fieldset>
                                    {% endfor %}

                     </fieldset>

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Attestation" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.attestation.attestation.errors }}
                            {{ forms.attestation.attestation }}
                            <label for="id_sender" id="long">{{ forms.attestation.attestation.label_tag }}</label>
                        </div>

                    <p align="center"><input type="submit" name="env" value="Enregistrer le chercheur" /></p>
                </form>

           </div>

</div>

{% endblock %}
