{% extends "base.html" %}
{% load i18n %}

{% block Contenu %}

<div id="texte">
<h3>{% trans "Inscription de votre équipe de chercheurs" %}</h3>

        	<div class="chercheur">

                <form action="" method="POST">{% csrf_token %}
                    {% if forms.equipe.errors %}<ul class="errorlist"><li>{% trans "Des erreurs ne permettent pas de s'inscrire." %}</li></ul>{% endif %}

                    <h3 style="margin-bottom: 28px;">{% trans "Propriété de la Fiche" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.langue.errors }}
                            <label for="id_subject">{% trans "Langue" %} <span class="requis">*</span>:</label>
                            {{ forms.equipe.langue }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Informations sur l'équipe de recherche" %}</h3>
                    	 <div class="fieldWrapper">
                            {{ forms.equipe.intitule.errors }}
                            <label for="id_message">{% trans "Intitule de l'équipe" %} <span class="requis">*</span>:</label>
                            {{ forms.equipe.intitule }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.etablissement.errors }}
                            <label for="id_message">{% trans "Université" %} :</label>
                            {{ forms.equipe.etablissement }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.etablissement_autre_nom.errors }}
                            <label for="id_sender">{% trans "Faculté/institut/école" %} :</label>
                            {{ forms.equipe.etablissement_autre_nom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.etablissement_autre_pays.errors }}
                            <label for="id_cc_myself">{% trans "Pays" %} :</label>
                            {{ forms.equipe.etablissement_autre_pays }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.date_creation.errors }}
                            <label for="id_message">{% trans "Date de création" %} :</label>
                            {{ forms.equipe.date_creation }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.date_evaluation.errors }}
                            <label for="id_sender">{% trans "Date de la dernière évaluation" %} :</label>
                            {{ forms.equipe.date_evaluation }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.presentation.errors }}
                            <label for="id_cc_myself">{% trans "Présentation de l'équipe" %} :</label>
                            {{ forms.equipe.presentation }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Informations sur le responsable de l'équipe" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.genre.errors }}
                            <label for="id_message">{% trans "Genre" %} <span class="requis">*</span> :</label>
                            {{ forms.equipe.genre }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.nom.errors }}
                            <label for="id_sender">{% trans "Nom" %} <span class="requis">*</span> :</label>
                            {{ forms.equipe.nom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.prenom.errors }}
                            <label for="id_cc_myself">{% trans "Prénom" %} <span class="requis">*</span> :</label>
                            {{ forms.equipe.prenom }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.courriel.errors }}
                            <label for="id_sender">{% trans "Courriel" %} <span class="requis">*</span> :</label>
                            {{ forms.equipe.courriel }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.afficher_courriel.errors }}
                            <label for="id_cc_myself">{% trans "Afficher courriel" %} :</label>
                            {{ forms.equipe.afficher_courriel }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.site.errors }}
                            <label for="id_sender">{% trans "Site internet" %} :</label>
                            {{ forms.equipe.site }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.telephone.errors }}
                            <label for="id_cc_myself">{% trans "Numéro de téléphone" %} :</label>
                            {{ forms.equipe.telephone }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.telecopie.errors }}
                            <label for="id_sender">{% trans "Numéro de télécopie" %} :</label>
                            {{ forms.equipe.telecopie }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Effectifs" %}</h3>
                    	<div class="fieldWrapper">
                            {{ forms.equipe.prof.errors }}
                            <label for="id_message">{% trans "Professeurs" %} :</label>
                            {{ forms.equipe.prof }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.maitre.errors }}
                            <label for="id_sender">{% trans "Maître de Conférence" %} :</label>
                            {{ forms.equipe.maitre }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.assistant.errors }}
                            <label for="id_cc_myself">{% trans "Assistants" %} :</label>
                            {{ forms.equipe.assistant }}
                        </div>
                         <div class="fieldWrapper">
                            {{ forms.equipe.chercheur.errors }}
                            <label for="id_sender">{% trans "Chercheurs à temps plein" %} :</label>
                            {{ forms.equipe.chercheur }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.autres.errors }}
                            <label for="id_cc_myself">{% trans "Autres" %} :</label>
                            {{ forms.equipe.autres }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Recherche" %}</h3>
                    	<div class="fieldWrapper">
                            {{ forms.equipe.axe.errors }}
                            <label for="id_message">{% trans "Axe de recherche" %} <span class="requis">*</span> :</label>
                            {{ forms.equipe.axe }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.problematique.errors }}
                            <label for="id_sender">{% trans "Problématique et description de la recherche" %} :</label>
                            {{ forms.equipe.problematique }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.mots_cles.errors }}
                            <label for="id_cc_myself">{% trans "Mots-clés" %} :</label>
                            {{ forms.equipe.mots_cles }}
                        </div>

                      <h3 style="margin: 10px 0px 28px 0px">{% trans "Equipement" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.equipement.errors }}
                            <label for="id_message">{% trans "Equipement disponible" %} :</label>
                            {{ forms.equipe.equipement }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.laboratoire.errors }}
                            <label for="id_sender">{% trans "Laboratoire" %} :</label>
                            {{ forms.equipe.laboratoire }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.terrain.errors }}
                            <label for="id_cc_myself">{% trans "Terrain" %} :</label>
                            {{ forms.equipe.terrain }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Valorisation et autres" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.valorisation.errors }}
                            <label for="id_message">{% trans "Valorisation et domaine de compétence" %}:</label>
                            {{ forms.equipe.valorisation }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.partenaires.errors }}
                            <label for="id_sender">{% trans "Partenaires" %} :</label>
                            {{ forms.equipe.partenaires }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.enseignant.errors }}
                            <label for="id_sender">{% trans "Liste des chercheurs de l'unité" %} :</label>
                            {{ forms.equipe.enseignant }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.doctorants.errors }}
                            <label for="id_cc_myself">{% trans "Doctorants" %} :</label>
                            {{ forms.equipe.doctorants }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.stagiaire.errors }}
                            <label for="id_cc_myself">{% trans "Stagiaire" %} :</label>
                            {{ forms.equipe.stagiaire }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Publications" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.publicationsInternational.errors }}
                            <label for="id_message">{% trans "Nombre de publication de niveau internationales" %} :</label>
                            {{ forms.equipe.publicationsInternational }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.publicationsAutre.errors }}
                            <label for="id_sender">{% trans "Autres publications" %} :</label>
                            {{ forms.equipe.publicationsAutre }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.publicationsColloc.errors }}
                            <label for="id_cc_myself">{% trans "Nombre de publication ayant fait l'objet de publication dans actes de colloque" %} :</label>
                            {{ forms.equipe.publicationsColloc }}
                        </div>
                        <div class="fieldWrapper">
                            {{ forms.equipe.communication.errors }}
                            <label for="id_cc_myself">{% trans "Autres communications" %} :</label>
                            {{ forms.equipe.communication }}
                        </div>

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Publications (donner 10 références maximum, les plus représentatives de l'activité scientifique)" %}</h3>
                     <fieldset id="publications">

                               {{ forms.publications.management_form }}
                                    {% for form in forms.publications %}
                                    <fieldset style="border: 1px solid #aaaaaa; padding: 14px 0px 0px 10px; margin-bottom: 10px">
                                        {{ form }}
                                    </fieldset>
                                    {% endfor %}

                     </fieldset>

                     <h3 style="margin: 10px 0px 28px 0px">{% trans "Informations complémentaires" %} :</h3>
                        <div class="fieldWrapper">
                            {{ forms.equipe.complement.errors }}
                            <label for="id_sender">{% trans "Informations complémentaires" %} :</label>
                            {{ forms.equipe.complement }}
                        </div>

                    <h3 style="margin: 10px 0px 28px 0px">{% trans "Attestation" %}</h3>
                        <div class="fieldWrapper">
                            {{ forms.attestation.attestation.errors }}
                            {{ forms.attestation.attestation }}
                            <label for="id_sender" id="long"> {{ forms.attestation.attestation.label_tag }}</label>
                        </div>

                    <p align="center"><input type="submit" value="Enregistrer l'équipe de recherche" /></p>
                </form>

           </div>

</div>

{% endblock %}
