{% extends "auf_refonte/base_aruca.html" %}
{% load url from future %}
{% load i18n pagination_tags addCss%}

{% block 'contenu' %}
<!-- Espace contenu  -->
<div class="row">
			<div class="col-lg-8 col-lg-offset-4 chercheur">
				<h3>{% trans "Connexion" %}</h3>
			    {% if form.errors %}
			    <ul class="errorlist"><li>{% trans "Login ou mot de passe invalide." %}</li></ul>
			    {% endif %}<br /><br /><br />
			    <form class="form form-signin" method="post">
							{% csrf_token %}
			        <label>{% trans "Adresse électronique" %}</label>
							{{ form.username|add_css_classes:"form-control" }}
			        <label>{% trans "Mot de passe" %}</label>
							{{ form.password|add_css_classes:"form-control" }}<br />
			        <input class="btn btn-warning" type="submit" value="Connexion" />
			    </form>
			    <a href="{% url "chercheurs-password-reset" %}">{% trans "Mot de passe oublié ?" %}</a>
			    <p>{% trans "Vous n'avez pas encore de compte?" %} <a href="{% url "annuaire.views.creation_compte" %}">{% trans "Inscrivez-vous" %}</a></p>
			</div>
</div>

{% endblock %}
