{% extends "base.html" %}
{% load url from future %}
{% load i18n pagination_tags %}

{% block Contenu %}
<div id="texte">

<div class="chercheur">
    <h3>{% trans "Demande de changement de mot de passe" %}</h3>
    {% if validlink %}
     <h4>{% trans "Veuillez choisir un nouveau mot de passe." %}</h4>
    <form method="post">
        {% include "table_form.html" %}
        <input type="submit" name="Submit" value="Envoyer" />
    </form>
    {% else %}
    <p>{% trans "Cette clé est invalide. Assurez-vous de bien copier le lien qui vous a été envoyé par courriel." %}</p>
    <p>{% trans "Vous pouvez aussi essayer" %}<a href="{% url "chercheurs-password-reset" %}">obtenir une nouvelle clé</a>.</p>
    {% endif %}
</div>
</div>
{% endblock %}
