{% extends "base.html" %}
{% load i18n pagination_tags %}

{% block Contenu %}
<div id="texte">

<div class="chercheur">
    <h3>{% trans "Demande de changement de mot de passe" %}</h3>
    <form method="post">{% csrf_token %}
    	{% if form.email.errors %}<ul class="errorlist"><li>{{ form.email.errors }}</li></ul>{% endif %}
        <p><label>{% trans "Veuillez entrer l'adresse électronique avec laquelle vous avez completé votre inscription." %}</label>{{ form.email }}</p>
        <input type="submit" name="Submit" value="Envoyer" class="bouton" />
    </form>
</div>

</div>
{% endblock %}

