{% extends "base.html" %}
{% load i18n pagination_tags %}

{% block Contenu %}

<div id="texte">
<h3>{% trans "Validation" %}</h3>
<p>{% trans "L'equipe de recherche a bien été validée." %}</p>
<p>{% trans "Votre fiche sera mise en ligne lorsque l'administrateur aura validé votre fiche" %}</p>
<ul>
<li><a href="/inscription-equipe/">{% trans "Inscrire une nouvelle équipe de chercheurs" %}</a></li>
<li><a href="/">{% trans "Revenir à la page d'accueil" %}</a></li>
</ul>           
</div>

{% endblock %}