{% extends "auf_refonte/base.html" %}
{% load cms_tags staticfiles addCss%}

{% block 'extra_css' %}
<link rel="stylesheet" type="text/css" href="{% static 'auf_refonte/css/date_picker.css' %}" />
{% endblock%}

{% block 'contenu' %}
<!-- Espace contenu  -->
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center">Formulaire de candidature aux insctances</h2>
      <form id="profileForm" class="test form-horizontal" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Etape 1</h2>
        <section data-step="0">
          <div class="form-group">
            <label>{{form.statut_candidatures.help_text}} :</label>
            {{form.statut_candidatures|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.sexe.help_text}} :</label>
            {{form.sexe|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.nom.help_text}} :</label>
            {{form.nom|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.prenom.help_text}} :</label>
            {{form.prenom|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.date_naissance.help_text}} :</label>
            {{ form.date_naissance|add_css_classes:"form-control datepicker"}}
          </div>
        </section>

        <h2>Etape 2</h2>
        <section data-step="1">
          <div class="form-group">
            <label>{{form.pays_nationalite.help_text}} :</label>
            {{form.pays_nationalite|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.adresse_residence.help_text}} :</label>
            {{form.adresse_residence|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.ville_residence.help_text}} :</label>
            {{form.ville_residence|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.numero_telephone_direct.help_text}} :</label>
            {{form.numero_telephone_direct|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.mail_direct.help_text}} :</label>
            {{form.mail_direct|add_css_classes:"form-control"}}
          </div>
        </section>


        <h2>Etape 3</h2>
        <section date-step="2">
          <div class="form-group">
            <label>{{form.etablissement_universitaire_1.help_text}} :</label>
            {{form.etablissement_universitaire_1|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.etabliseement_universitaire_autres.help_text}} :</label>
            {{form.etabliseement_universitaire_autres|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.discipline_scient_gnrl.help_text}} :</label>
            {{form.discipline_scient_gnrl|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.fonction_academique_now.help_text}} :</label>
            {{form.fonction_academique_now|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.fonction_academique_autre.help_text}} :</label>
            {{form.fonction_academique_autre|add_css_classes:"form-control"}}
          </div>
        </section>
        <h2>Etape 4</h2>
        <section data-step="3">
          <div class="form-group">
            <label>{{form.pls_haut_diplome.help_text}} :</label>
            {{form.pls_haut_diplome|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.annee_obt.help_text}} :</label>
            {{form.annee_obt|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.langue_travail_prin.help_text}} :</label>
            {{form.langue_travail_prin|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.autre_langue_prin.help_text}} :</label>
            {{form.autre_langue_prin|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.langue_maitrise.help_text}} :</label>
            {{form.langue_maitrise|add_css_classes:"form-control"}}
          </div>
        </section>


        <h2>Etape 5</h2>
        <section data-step="4">
          <div class="form-group">
            <label>{{form.autre_langue_maitrise.help_text}} :</label>
            {{form.autre_langue_maitrise|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.implication_academique.help_text}} :</label>
            {{form.implication_academique|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.synthese_principale.help_text}} :</label>
            {{form.synthese_principale|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.ambition_pr_ciec.help_text}} :</label>
            {{form.ambition_pr_ciec|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.avantage_comparatif.help_text}} :</label>
            {{form.avantage_comparatif|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.cv_detaille.help_text}} :</label>
            {{form.cv_detaille|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.lettre_soutien.help_text}} :</label>
            {{form.lettre_soutien|add_css_classes:"form-control"}}
          </div>
          <div class="form-group">
            <label>{{form.mise_disposition_legale.help_text}} :</label>
            {{form.mise_disposition_legale|add_css_classes:"form-control"}}
          </div>
          <button type="submit" class="btn btn-default">Soummettre</button>
        </section>
      </form>
    </div>

</div>
<!-- Espace contenu  -->
<br /><br /><br />
{% endblock %}

{%block 'extra_js'%}
  <script type="text/javascript">
      $(function() {
        $(".datepicker").datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2016",
        });
      });
  </script>
  <script src="{% static 'auf_refonte/js/jquery.form-validator.min.js' %}"></script>
  <!-- <script src="{% static 'auf_refonte/js/jquery.steps.min.js' %}"></script> -->
  <script type="text/javascript">
$(document).ready(function() {
    function adjustIframeHeight() {
        var $body   = $('body'),
            $iframe = $body.data('iframe.fv');
        if ($iframe) {
            // Adjust the height of iframe
            $iframe.height($body.height());
        }
    }

    // IMPORTANT: You must call .steps() before calling .formValidation()
    $('#profileForm')
        .steps({
            headerTag: 'h2',
            bodyTag: 'section',
            onStepChanged: function(e, currentIndex, priorIndex) {
                // You don't need to care about it
                // It is for the specific demo
                adjustIframeHeight();
            },
            // Triggered when clicking the Previous/Next buttons
            onStepChanging: function(e, currentIndex, newIndex) {
                var fv         = $('#profileForm').data('formValidation'), // FormValidation instance
                    // The current step container
                    $container = $('#profileForm').find('section[data-step="' + currentIndex +'"]');

                // Validate the container
                fv.validateContainer($container);

                var isValidStep = fv.isValidContainer($container);
                if (isValidStep === false || isValidStep === null) {
                    // Do not jump to the next step
                    return false;
                }

                return true;
            },
            // Triggered when clicking the Finish button
            onFinishing: function(e, currentIndex) {
                var fv         = $('#profileForm').data('formValidation'),
                    $container = $('#profileForm').find('section[data-step="' + currentIndex +'"]');

                // Validate the last step container
                fv.validateContainer($container);

                var isValidStep = fv.isValidContainer($container);
                if (isValidStep === false || isValidStep === null) {
                    return false;
                }

                return true;
            },
            onFinished: function(e, currentIndex) {
                // Uncomment the following line to submit the form using the defaultSubmit() method
                // $('#profileForm').formValidation('defaultSubmit');

                // For testing purpose
                $('#welcomeModal').modal();
            }
        })
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            // This option will not ignore invisible fields which belong to inactive panels
            excluded: ':disabled',
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: 'The username is required'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'The username must be more than 6 and less than 30 characters long'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: 'The username can only consist of alphabetical, number, dot and underscore'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'The email address is required'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        },
                        different: {
                            field: 'username',
                            message: 'The password cannot be the same as username'
                        }
                    }
                },
                confirmPassword: {
                    validators: {
                        notEmpty: {
                            message: 'The confirm password is required'
                        },
                        identical: {
                            field: 'password',
                            message: 'The confirm password must be the same as original one'
                        }
                    }
                },
                firstName: {
                    row: '.col-xs-4',
                    validators: {
                        notEmpty: {
                            message: 'The first name is required'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z\s]+$/,
                            message: 'The first name can only consist of alphabetical and space'
                        }
                    }
                },
                lastName: {
                    row: '.col-xs-4',
                    validators: {
                        notEmpty: {
                            message: 'The last name is required'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z\s]+$/,
                            message: 'The last name can only consist of alphabetical and space'
                        }
                    }
                },
                gender: {
                    validators: {
                        notEmpty: {
                            message: 'The gender is required'
                        }
                    }
                },
                dob: {
                    validators: {
                        notEmpty: {
                            message: 'The birthday is required'
                        },
                        date: {
                            format: 'YYYY/MM/DD',
                            message: 'The birthday is not valid'
                        }
                    }
                },
                bio: {
                    validators: {
                        stringLength: {
                            max: 200,
                            message: 'The bio must be less than 200 characters'
                        }
                    }
                }
            }
        });
});
</script>
<script src="{% static 'auf_refonte/js/jquery-ui.min.js' %}"></script>
{% endblock %}
