{% extends "base.html" %}
{% load i18n%}

{% block Contenu %}
<div id="texte">
    {% with appel_offre as item %}

    <h3>{{ item.titre }}</h3>
    
    	<div class="info">
        	<div class="date">Édité le {{ item.date_pub }}</div>
            <div class="outils"><img src="{{ STATIC_URL }}img/more.png" /><img src="{{ STATIC_URL }}img/less.png" /><img src="{{ STATIC_URL }}img/print.png" /><img src="{{ STATIC_URL }}img/mail.png" /><img src="{{ STATIC_URL }}img/pdf.png" /></div>
        </div>
        
         <p><strong>{{ item.resume|safe }}</strong></p>
    
    	{% if item.image %}
        	<img src="{{ MEDIA_URL }}{{ item.image }}" class="gauche"/>
       {% endif %}        
        <div class="text">
             <p>{{ item.texte|safe}}</p>         
        </div>   
            
{% endwith %}  
</div>
{% endblock %}
