{% load cms_tags staticfiles sekizai_tags menu_tags addCss%}
<!DOCTYPE html>
<html>
  <head>
      <title>HOME | ARUCA</title>
      <link rel="stylesheet" type="text/css" href="{% static 'auf_refonte/css/bootstrap.min.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'auf_refonte/css/style.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'auf_refonte/css/font-awesome.min.css' %}" />
      {% block 'extra_css' %}
      {% endblock %}
      {% render_block "css" %}
  </head>
  <body>
    {% cms_toolbar %}
    {% block 'menu_common_things' %}
    <div class="container mine">
      <!-- navigation -->
      <nav class="navbar navbar-default" id="navigation_bar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- inline_bar_top -->
              <div class="row">
                <ul class="col-lg-12" id="inline_bar_top">
                    <li class="imfp"><a href="{% url 'login' %}">Connexion</a></li>
                    <li class="imfp"><a href="#">CGU</a></li>
                    <li class="imfp"><a href="#" data-toggle="modal" data-target="#contactForm">Contact</a></li>
                    <li><a href="#"><img src="{% static 'auf_refonte/images/es.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'auf_refonte/images/fr.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'auf_refonte/images/es.png' %}"></a></li>
                    <li><a href="#"><img src="{% static 'auf_refonte/images/fr.png' %}"></a></li>
                    <li>
                      <form action="" class="search-form">
                          <div class="form-group has-feedback">
                      		<label for="search" class="sr-only">Search</label>
                      		<input type="text" class="form-control" name="search" id="search" placeholder="search">
                        		<span class="glyphicon glyphicon-search form-control-feedback"></span>
                      	</div>
                      </form>
                    </li>
                </ul>
              </div>
              <!-- fin inline_bar_top -->

              <!-- scrolled_menu -->
              <ul class="nav navbar-nav navbar-fixed-top cache hidden-sx-down" id="menu_nav_scroll">
                <li class="aruca_home active"><a href="{% url 'aruca_home'%}">Accueil</a></li>
                <li class="equipe_laboratoire"><a href="{% url 'equipe_laboratoire' %}">Equipes de recherche</a></li>
                <li class="appelO"><a href="{% url 'appelO' %}">Appels d'offres</a></li>
                <li class="actualites"><a href="{% url 'actualites' %}">Actualites</a></li>
                <li class="presentation"><a href="{% url 'presentation' %}">Presentation</a></li>
                <li class="usefull_link"><a href="{% url 'usefull_link' %}">Liens Utiles</a></li>
              </ul>
              <!-- scrolled_menu -->

              <!-- menu_principal -->
              <ul class="nav navbar-nav affiche" id="menu_nav">
                <li class="active"><a href="{% url 'aruca_home'%}">Accueil</a></li>
                <li class="equipe_laboratoire"><a href="{% url 'equipe_laboratoire' %}">Equipes de recherche</a></li>
                <li class="appelO"><a href="{% url 'appelO' %}">Appels d'offres</a></li>
                <li class="actualites"><a href="{% url 'actualites' %}">Actualites</a></li>
                <li class="presentation"><a href="{% url 'presentation' %}">Presentation</a></li>
                <li class="usefull_link"><a href="{% url 'usefull_link' %}">Liens Utiles</a></li>
              </ul>
              <!-- menu_principal -->
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
      <!-- navigation -->
      <div class="hr_bar"></div>
      <div class="row" id="banderolle_row">
        <div class="col-lg-2">
          <!-- image espace --><br />
          <img id="cor_logo" src="{% static 'auf_refonte/images/corpuca_logo_3.png' %}">
        </div>
        <div class="col-lg-10 desc">
          <!-- text aruca -->
          <h1 style="font-weight:bolder;color:#AA0A2F;">
            Annuaire &eacute;lectronique de la recherche
            dans les universit&eacute;s de la Caraibe
          </h1>
        </div>
    </div>
    <br />
    {% endblock %}

    {% block 'contenu' %}
    <!-- Espace contenu  -->
    <div id="contenu">
    </div>
    <!-- Espace contenu  -->
    <br /><br /><br />
    {% endblock %}

    {% block "contactMod"%}
    <div class="row">
    <div class="modal fade" id="contactForm" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                  Contactez nous
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {%for field in contact%}
                  <div class="form-group">
                    {{field.label_tag}}
                      {{field|add_css_classes:"form-control"}}
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <!-- <button type="button" class="btn btn-primary">
                    Save changes
                </button> -->
            </div>
        </div>
    </div>
    </div>
    </div>
    {% endblock %}

    {% block 'pied_page' %}
    <div class="row">
      <div class="col-md-12" style="background: #707070">
        <footer id="PiedPage">
          <img width="170" height="121" src="{% static 'auf_refonte/images/corpuca_logo_3.png' %}" alt="">
          <ul>
            <li>Contact</li>
            <li>Connexion</li>
            <li>CGU</li>
            <li>AUF (c) 2016 Copyright Holder All Rights Reserved.</li>
          </ul>
        </footer>
      </div>
    </div>
    {% endblock %}
  </div>
  <script src="{% static 'auf_refonte/js/jquery_auf_v_12.min.js' %}"></script>
  <script src="{% static 'auf_refonte/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
  $(document).ready(function (){
       $(window).scroll(function () {
           if ($(document).scrollTop() <= 40) {
               $('#menu_nav_scroll').addClass('cache');
               $('#menu_nav_scroll').removeClass('affiche');
               $('#menu_nav').addClass('affiche');
           } else {
             $('#menu_nav_scroll').addClass('affiche');
             $('#menu_nav_scroll').removeClass('cache');
             $('#menu_nav').addClass('cache');
           }
       });
      //  alert(window.location.href);
       var currentUrl = window.location.href;
       var arr = currentUrl.split("/")
      //  alert(arr[arr.length-2]);
       var curPage = arr[arr.length-2];

       switch(curPage){
         case "aruca":
                    $("#menu_nav_scroll li").removeClass("active");
                    $("#menu_nav li").removeClass("active");
                    $(".aruca_home").addClass("active");
                    break;
         case "appels_offres":
         $("#menu_nav_scroll li").removeClass("active");
         $("#menu_nav li").removeClass("active");
         $(".appelO").addClass("active");
                   break;
         case "actualites":
         $("#menu_nav_scroll li").removeClass("active");
         $("#menu_nav li").removeClass("active");
         $(".actualites").addClass("active");
                   break;
         case "liens_utiles":
         $("#menu_nav_scroll li").removeClass("active");
         $("#menu_nav li").removeClass("active");
         $(".usefull_link").addClass("active");
                   break;
         case "presentation":
         $("#menu_nav_scroll li").removeClass("active");
         $("#menu_nav li").removeClass("active");
         $(".presentation").addClass("active");
                   break;
         case "equipe_laboratoire":
         $("#menu_nav_scroll li").removeClass("active");
         $("#menu_nav li").removeClass("active");
         $(".equipe_laboratoire").addClass("active");
                   break;
       }
  });
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
        $("#exampleInputName2").hide();
        $("#bout").hover(function(){
          $("#exampleInputName2").fadeIn();
        },function(){
          // $("#exampleInputName2").fadeOut();
          if($("#exampleInputName2").is(":focus")){

          }else{
            // $("#exampleInputName2").fadeOut(3000);
          }
        });
    });
  </script>
  {% block 'extra_js' %}
  {% endblock %}
  {% render_block "js" %}
  </body>
</html>
